<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solicitação</title>
</head>
<body>
<form method="post">
    Valor: <input type="number" step="0.01" value="" name="valor"/><br /><br />
    Primeira parcela: <input type="date" value="" name="primeiraParcela"/><br /><br />
    Quantidade de parcelas: <input type="number" value="" name="quantidadeParcelas"/><br /><br />
    CPF: <input type="text" value="" name="cpfCliente"/><br /><br />

    <button type="submit">Solicitar</button><br />
</form>
</body>
</html>