<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
</head>
<body>
    <form method="post">
        Nome: <input type="text" value="" name="nome"/><br /><br />
        E-mail: <input type="text" value="" name="email"/><br /><br />
        CPF: <input type="text" value="" name="cpf"/><br /><br />
        RG: <input type="text" value="" name="rg"/><br /><br />
        Endereço: <input type="text" value="" name="endereco"/><br /><br />
        Complemento: <input type="text" value="" name="complemento"/><br /><br />
        Renda: <input type="number" step="0.01" value="" name="renda"/><br /><br />
        Senha: <input type="text" value="" name="senha"/><br /><br />

        <button type="submit">Salvar</button><br />
    </form>
</body>
</html>